.button_seeker {
    background-color: var(--seeker-color);
    border-color: var(--seeker-color);
    color: white;
}

.button_seeker:hover {
    background-color: var(--seeker-color_hover);
    border-color: var(--seeker-color_hover);
    color: white;
}
