div.wrapper
    div.light-page.wrapper__light-page
        div.light-page__error.light-page__error-js
        form.light-page__form.signupemp__form-js(novalidate)
            label.light-page__header Регистрация работадетеля
            div.light-page__input.mb5
                input.input(type='text', placeholder='Название компании', name='companyName')

            div.light-page__input.mb5
                input.input(type='text', placeholder='Сайт', name='site')

            div.light-page__input.mb10
                input.input(type='text', placeholder='Город', name='region')

            label.light-page__title.mb10
                span Контактное лицо
                span.light-page__title-additional (Конфиденциально)
            div.light-page__input.mb5
                input.input(type='text', placeholder='Имя', name='firstName')

            div.light-page__input.mb5
                input.input(type='text', placeholder='Фамилия', name='secondName')

            div.light-page__input.mb5
                input.input(type='tel', placeholder='Контактный телефон', name='phoneNumber')

            label.light-page__title.mb10
                span Учётные данные для входа
            div.light-page__input.mb5
                input.input.login-js(type='email', placeholder='Электронная почта', name='login')
                span.error
            div.light-page__input.mb5
                input.input.password-js(type='password', placeholder='Пароль', name='pass')
                span.error
            div.light-page__input.mb10
                input.input.passwordConfirm-js(type='password', placeholder='Подтверждение пароля', name='repass')
            input.button.button_blue.button_stretched.light-page__button(type='submit', value='Зарегистрировать компаню')
