.block-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: 0 0 no-repeat;
    vertical-align: middle;
    border: 0;
    outline: none;
    text-decoration: none;
}

.block-icon_favorite {
    width: 16px;
    height: 16px;
    background-image: url(../../img/favored-icon__min_.svg);
}

.block-icon_initial-impact {
    background-position: -144px 0;
}

.block-icon_initial-primary {
    background-position: -54px 0;
}