.header__button {
  align-self: center;
  margin-left: 20px;
  background-color: transparent;
  color: rgba(101, 230, 105, 0.842);
  border-color: rgba(64, 248, 70, 0.596);
}

.header__button:hover {
  border-color: #9efba1;
}

.header__button:focus {
  border-color: #9efba1;
}

.header__button:active {
  border-color: #9efba1;
}
