.chat {
    display: flex;
    height: 100%;
    padding: 16px;
    flex-direction: row;
}

.chat__room {
    display: flex;
    flex-basis: 75%;
    height: auto;
    padding: 0 16px;
}

.chat__room-wrapper{
    display: flex;
    overflow: auto;
    flex-basis: 100%;
    flex-direction: column;
}

.chat__list{
    display: flex;
    margin-right: 48px;
    flex-basis: 25%;
}

.chat__list__content{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 15px;
    background-color: #3333330d;
}

.chat__list__item{
    flex-direction: column;
    padding: 20px 8px;
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
}

.chat__list__item:hover{
    background-color: var(--primary-color_light);
}

.chat__content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: start;
    background-color: #3333330d;
    border-radius: 15px;
    padding: 16px;
    height: 600px;
}

.chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;
}

.message_my {
    margin: 8px;
    align-self: flex-end;
    background-color: aliceblue;
}

.message_other {
    margin: 8px;
    align-self: flex-start;
    background-color: white;
}

.message{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color_hover);
    border-radius: 8px;
    padding: 8px 12px;
}

.span__message{
    display: flex;
    align-self: flex-start;
}

.timestamp__message{
    align-self: flex-end;
    font-size: small;
    color: var(--text-color);
}

.chat__input{
    flex-basis: 50%;
}

