div.login-wrapper
    div.login.login-wrapper__login
        div.login__error.login__error-js
        form.login__form.login__form-js(novalidate)
            label.login__header Вход в личный кабинет
            div.login__input
                input.input.email(type='email', placeholder='Email', name='email')
                span.error(aria-live='polite')
            div.login__input
                input.input.password(type='password', placeholder='Пароль', name='password')
                span.error(aria-live='polite')
            input.button.button_blue.button_stretched.login__button(type='submit', value='Войти в личный кабинет')
            //- div.login-remember
            //-     label.checkbox
            //-         input.checkbox__input(type='checkbox', value='yes')
            //-         span.checkbox__input Запомнить
            //-     a(href='#') Получить пароль
            div.login__account-register
                span.login__account-hint Регистрация
                div.login__account-choices
                    div.login__register-button
                        a.button.button_small.button_stretched(href='/signupseeker') Соискателя
                    div.login__register-button
                        a.button.button_small.button_stretched(href='/signupemployer') Работадателя
