html {
  height: 100%;
}

.page {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
}

.invalid {
  border-color: #900;
  background-color: #fdd;
}

.thumb {
  height: 250px;
  border: 1px solid #000;
}

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.left-column {
  flex-basis: 60%;
  padding: 40px 40px 100px;
  height: max-content;
  box-sizing: border-box;
}

.right-column {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}

.text_box {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}