.header {
    height: 80px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #222;
    display: flex;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo__img {
    height: 50px;
    width: 50px;
}

.header__logo {
    align-self: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 80px;
}

.header__menu {
    margin-left: 20px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    height: 18px;
    align-self: center;
}

.header-fill {
    margin-left: auto;
}
.search-form__search {}
.search-form__submit {}

.header__search-form {
    align-self: center;
}

.profile__link {
    display: flex;
    align-items: center;
    height: 80px;
}

.icon-profile {
    background-image: url(../img/profile__min_.svg);
    width: 30px;
    height: 30px;
    outline: none;
    text-decoration: none;
}

.header__profile {
    margin-left: 15px;
}