/* do not touch anything bellow */
@import './normalize.css';
@import './base.css';
@import './Input/input.css';
@import './Button/button.css';
@import './Button/_blue/button_blue.css';
@import './Button/_green/button_green.css';
@import './Button/_small/button_small.css';
@import './Button/_stretched/button_stretched.css';
@import './Button/_disabled/button_disabled.css';
@import './Link/link.css';
@import './Header/header.css';
@import './Header/__logo/header__logo.css';
@import './Header/__menu/header__menu.css';
@import './Header/__menu/__link/header__link.css';
@import './Header/__fill/header__fill.css';
@import './Header/__button/header__button.css';
@import './Header/__profile/header__profile.css';
@import './Header/__profile/__profile-icon/header__profile-icon.css';
@import './Login-wrapper/login-wrapper.css';
@import './Login-wrapper/__login/login-wrapper__login.css';
@import './Login/login.css';
@import './Login/__form/login__form.css';
@import './Login/__input/login__input.css';
@import './Login/__error/login__error.css';
@import './Login/__error/_active/login__error_active.css';
@import './Login/__header/login__header.css';
@import './Error/error.css';
@import './Error/_active/error_active.css';
@import './Error/_active/error_active.css';
@import './Login/__account-register/login__account-register.css';
@import './Login/__account-register/__account-hint/login__account-hint.css';
@import './Login/__account-register/__account-choices/login__account-choices.css';
@import './Login/__account-register/__register-button/login__register-button.css';
/* do not touch anything above*/

@import 'signup.css';
@import 'login.css';
@import 'card_list.css';

.list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
