@import "base.css";
@import "normalize.css";

@import "../components/Header/header.css";
@import "../components/ShortVacncy/ShortVacancy.css";

.signin-offer {
    background-color: #222;
    color: #fff;
    padding: 15px;
    height: 125px;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.signin-offer__choices {
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    margin-bottom: 10px;
}
.button_seeker-button {
    width: 250px;
    background-color: #222;
    color: #0f8fee;
    border-color:  #0f8fee;
    margin-bottom: 10px; 
}

.button_employer-button {
    background-color: #222;
    color:#0f8fee;
    border-color:   #0f8fee;
    width: 250px;
}

.right-column__signin-offer{
    margin-top: 35px;
}