.login-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background: url(../img/back-form__min_.jpg) no-repeat center top fixed;
    color: #fff;
    background-size: cover;
    background-color: #373c55;
    min-height: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, sans-serif;
    position: relative;
    line-height: 21px;
    max-width: none;
    opacity: 1; /* Значение прозрачности */
}

.login {
    color: #333;
    background: #f8f8f8;
}

.login-wrapper__login {
    margin: 20px;
}

.login__form {
    width: 250px;
    padding: 25px 20px;
}

.login__input {
    margin-bottom: 20px;
}

.login__button {
    width: 250px;
}

.login-header {
    margin: 20px 0;
    color: rgb(51, 51, 51);
    display: block;
    font-size: 17px;
    font-weight: 700;
}

.login-remember {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.checkbox {
    display: flex;
    align-items: center;
    min-width: 100px;
}

.checkbox__input {
    position: absolute;
    width: 16px;
    height: 16px;
}

.checkbox_text {
    line-height: 1.5;
    margin-left: 20px;
    position: relative;
    display: table-cell;
}

.account-register {
    padding: 5px 20px 20px;
    margin: 0 -20px -20px;
}

.account-hint {
    color: rgb(51, 51, 51);
    display: block;
    font-size: 17px;
    font-weight: 700;
}

.error-block {
    color: #fff;
    background-color: #fb5a69;
}

.error-block_login {
    padding: 15px;
    margin: 0;
}
