.form {
    font-family: inherit;
    font-size: 14px;
    width: 450px;
}
.signup-form__row{
    margin-bottom: 20px ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.signup-form__column {
    margin-bottom: 20px ;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.span {
    width: 150px;
}

.signup-form__row__input {
    width: 100%;
    display: flex;
    flex-direction: column;
}