.signup-form {
    font-family: inherit;
    font-size: 14px;
    width: 450px;
}
.signup-form__row{
    margin-bottom: 20px ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
.span {
    width: 200px;
}