.header__profile-icon {
  background-image: url(/img/profile__min_.svg);
}
.header__profile-icon:hover {
  background-position: -30px 0;
}

.header__profile-icon:active {
  background-position: -30px 0;
}
