div.left-column
    h1.title-h1 Регистрация соискателя
    form.signup-form(method='POST', novalidate)

        div.form-row
            div.form-row__key
                span Имя
            div.form-row__value
                input.input(type='text', name='firstName')
                span.error(aria-live='polite')

        div.form-row
            div.form-row__key
                span Фамилия
            div.form-row__value
                input.input(type='text', name='lastName')
                span.error(aria-live='polite')

        div.form-row
            div.form-row__key
                span Email
            div.form-row__value
                input.input.email(type='email', name='login')
                span.error(aria-live='polite')

        div.form-row
            div.form-row__key
                span Пароль
            div.form-row__value
                input.input.password(type='password', name='password')
                span.error(aria-live='polite')

        div.form-row
            div.form-row__key
                span Подтверждение пароля
            div.form-row__value
                input.input.passwordConfirm(type='password', name='passwordConfirm')
                span.error(aria-live='polite')

        div.form-row
            div.form-row__key
            button.button.button_blue(type='submit') Зарегистрироваться
