div.found-vacancies
    div.found-vacancies__wrapper
        div.found-vacancies__top-row
            h1.title-h1 Найдено #{number_of_resumes} резюме
            a.button.found-vacancies__button(href='/search/company') Поиск по компании
            a.button.found-vacancies__button(href='/search/resume') Изменить запрос
        div.list
