div.logo.header__logo
    a(href='/')
        img.logo__img(src='img/ibat.jpg', alt='logo')

if hhRole === 'seeker'
    nav.menu.header__menu
        a.menu__link(href='#') Мои резюме
        a.menu__link(href='#') Отклики

div.header-fill

form.search-form.header__search-form(action='/#')
    input.input.search-form__search(type='text', placeholder='Поиск', name='s')
    input.button.button_green(type='submit', placeholder='Поиск')

case hhRole
    when 'seeker'
        div.resune-button.header__resume-button
            a.button.button_supernova.header__button(href='/create_resume') Создать резюме

        div.profile.header__profile
            a.profile__link(href='/profile')
                span.profile__icon

        div.login-button.header__login-button
            input.button.button_supernova.header__button(type='button', name='signOut', value='Выйти')

    when 'employer'
        div.resune-button.header__resume-button
            a.button.button_supernova.header__button(href='/create_vacancy') Создать вакансию

        div.profile.header__profile
            a.profile__link(href='/profile')
                span.profile__icon

        div.login-button.header__login-button
            input.button.button_supernova.header__button(type='button', name='signOut', value='Выйти')
    default
        div.login-button.header__login-button
            a.button.button_supernova.header__button(href='/signin') Войти
