div.header__logo
    a.title-h1(href='/') IBAT

div.header__fill

case role
    when 'seeker'
        a.header__link.header__link_active(href='/createresume') Создать резюме

        div.header__favorites
            a.icon.header__favorites-icon(href='/favorite_vacancies')

    when 'employer'
        a.header__link.header__link_active(href='/createvacancy') Разместить вакансию

        div.header__favorites
            a.icon.header__favorites-icon(href='/favorite_resumes')

    default
        a.header__link.header__link_active(href='/signin') Войти


if role === 'seeker' || role === 'employer'
    div.header__profile
        button.icon.header__profile-icon.dropdown-btn(name='profile-menu')
        div.dropdown
            if role === 'seeker'
                a.dropdown__link(href='/my_resumes') Мои резюме
            if role === 'employer'
                a.dropdown__link(href='/my_vacancies') Мои вакансии
            a.dropdown__link(href='/profile') Профиль
            div.dropdown__link(id='signOut') Выйти
