div.header__logo
    a(href='/')
        img(src='img/ibat.jpg', alt='logo')

if role === 'seeker'
    nav.header__menu
        a.link.header__link(href='#') Мои резюме
        a.link.header__link(href='#') Отклики

div.header__fill

if role
    case role
        when 'seeker'
            a.button.header__button(href='/createresume') Создать резюме

        when 'employer'
            a.button.header__button(href='/createvacancy') Разместить вакансию


    div.header__profile
        a.header__profile-icon(href='/profile')


    input.button.header__button(type='button', name='signOut', value='Выйти')

else
    a.button.header__button(href='/signin') Войти
