.header__link {
    color: #333;
    font-size: 14px;
    margin: 10px;
    align-self: center;
    text-align: center;
}

.header__link:hover {
    color: #1f1f1f;
}

.header__link:active {
    color: #1f1f1f
}

@media (max-width: 455px) {
    .header__link {
        font-size: 12px;
    }
}