.link {
    display: inline;
    outline: none;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    background: transparent;
    box-shadow: none;
}

.link:hover {
    color: var(--primary-color_hover);
}

a {
    color: var(--text-color);
    text-decoration: none;
    border: 0;
    background: transparent;
    font-size: inherit;
    outline: none;
}
