.hint-banner__card {
    display: flex;
    padding: 16px 24px;
    margin-left: 16px;
    flex-direction: column;
    background-color: #fff;
}

@media all and (max-width : 455px) {
    .hint-banner__card {
        margin-left: 0;
        margin-bottom: 15px;
    }
}
