form.search-bar__form
    div.search-bar__input
        input.input.search-bar__query(name='query', placeholder='Должность')
    div.search-bar__select
        select.input.search-bar__select-input(name='mode')
            option(value="/resumes") Резюме
            option(value="/vacancies") Вакансии
            option(value="/employers") Компании
    button.button.search-bar__button(type='submit') Найти
