.personal-block__right {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: 100%;
}

@media all and (max-width : 655px) {
    .personal-block__right {
        padding: 0;
    }
}