div.left-column
    h1.title-h1 Создание вакансии
    form.vacancy-form(method="POST" novalidate)
        div.form__section
            span.form__legend Название компании
            div.form__input
                input.input.company-name(type="text", value=profile.company_name, name='company_name')
                span.error(aria-live='polite')

            span.form__legend Должность
            div.form__input
                input.input.position(type="text", name='position')
                span.error(aria-live='polite')

            span.form__legend Опыт работы
            div.form__input
                select.input.experience(name='experience')
                    option(value="Без опыта работы") Без опыта работы
                    option(value="1-3года") 1-3года
                    option(value="3-5лет") 3-5лет
                    option(value="5+ лет") 5+ лет
                span.error(aria-live='polite')

            span.form__legend Оплата
            div.form__input
                input.input.wage(type="text", name='wage')
                span.error(aria-live='polite')

            span.form__legend О вакансии
            div.form__input
                textarea.input.form__about(name="about", rows="10" placeholder="Расскажите об обязанностях подробнее")
                span.error(aria-live='polite')

        button.button.button_blue(type='submit') Создать и опубликовать
