.short-vacancy__row {
    display: flex;
    margin-bottom: 6px;
}

.short-vacancy__row_stretched {
    display: flex;
    justify-content: space-between;
}

.short-vacancy__row_right {
    display: flex;
    justify-content: flex-end;
}
