.notification {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 70px;
    justify-content: start;
    padding: 8px 8px 24px 24px;
    border-radius: 4px;
    background-color: white;
    margin-top: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 1px solid var(--seeker-color);
    cursor: pointer;
}

.notification:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media all and (max-width : 565px) {
    .notification {
        width: auto;
        padding-left: 15px;
        padding-bottom: 11px;
    }
}
