div.left-column
    h1.title-h1.mb30 Компании
    form.search.search-js
        div.search__block.mb20
            span.search__legend Название компании
            div.search__input
                input.input(type="text", name='company_name')
        
        div.search__block.mb20
            span.search__legend Регион
            div.search__input
                input.input(type="text", name='region')

        div.search__block.mb20
            span.search__legend.search__find-fill
            button.button.button_blue(type='submit') Найти

    div.search-company