div.notification
    div.notification__actions
        button.icon.notification__close(name='closeNotification')
        button.icon.notification__mute(name='muteNotification')
    div.notification__title #{title}
