.button_green {
  color: #fff;
  border-color: rgba(158, 251, 161, 0);
  background: rgba(158, 251, 161, 0.5);
}

.button_green:active {
  border-color: #9efba1;
}

.button_green:focus {
  border-color: #9efba1;
}

.button_green:hover {
  border-color: #9efba1;
}
