<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <!-- Подключаются везде -->
    <link rel="stylesheet" href="../../css/normalize.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../ShortVacncy/shortVacancy.css"/>
    <link rel="stylesheet" href="./VacancyList.css"/>
</head>

<body class="page">
    <div class="vacancy-list">
        <div class="short-vacancy">
            <span class=""><a href="#"class="">Стажер Sberseasons JavaScript</a></span>
            <div class="" >3&nbsp;000-4&nbsp;000 USD</div>
            <span class="">Москва</span>
            <div class="short-vacancy__row">
                <div>
                    Основное направление - это проектирование, разработка и адаптация специфических клиентских приложений для различных платформ (Web, Android, iOS, tvOS, Smart TV и...
                    Уверенное владение JavaScript, ES6/7, HTML5, CSS3, LESS/SCSS, React, Redux, WebPack, Flow. Плюсом будет опыт работы...
                </div>
                <a href="#">
                    <img src="https://hhcdn.ru/employer-logo/2460361.png" alt="Alpha Technology USA LLC" class="vacancy-serp-item__logo">
                </a>
            </div>
        </div>
        <div class="short-vacancy">
            <span class=""><a href="#"class="">Стажер Sberseasons JavaScript</a></span>
            <div class="" >3&nbsp;000-4&nbsp;000 USD</div>
            <span class="">Москва</span>
            <div class="short-vacancy__row">
                <div>
                    Основное направление - это проектирование, разработка и адаптация специфических клиентских приложений для различных платформ (Web, Android, iOS, tvOS, Smart TV и...
                    Уверенное владение JavaScript, ES6/7, HTML5, CSS3, LESS/SCSS, React, Redux, WebPack, Flow. Плюсом будет опыт работы...
                </div>
                <a href="#">
                    <img src="https://hhcdn.ru/employer-logo/2460361.png" alt="Alpha Technology USA LLC" class="vacancy-serp-item__logo">
                </a>
            </div>
        </div>
    </div>
</body>

</html>
