div.title-h2 Мои события
a.link.link_list-item(href = '/my_responds') Мои отклики
//- a.link.link_list-item(href = '/offers') Мои предложения
if role == 'seeker'
    a.link.link_list-item(href = '/favorite_vacancies') Избранные вакансии
if role == 'employer'
    a.link.link_list-item(href = '/favorite_resumes') Избранные резюме
