div.left-column
    div.favorite-vacancies
        h1.title-h1 Ваши вакансии

        if number_of_vacancies == 0
            div.favorite-vacancies__no-vacancies
                p Вы не разместили ни одной вакансии.
                p Чтобы разместить вакансию на сайте, перейдите по кнопке "Разместить вакансию".
        div.list