.form-row__key {
    width: 30%;
    display: flex;
    justify-content: start;
    align-self: center;
}

@media all and (max-width : 655px) {
    .form-row__key {
        align-self: flex-start;
    }
}
