.title-h1 {
    font-family: "font-regular", serif;
    font-size: 36px;
    line-height: normal;
    font-weight: 400;
    margin: 0 0 15px;
    color: var(--text-color);
}

@media all and (max-width : 500px) {
    .title-h1 {
        font-size: 28px;
    }
}