.title-h2 {
    font-family: font-light;
    line-height: normal;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0;
    font-size: 30px;
}

@media all and (max-width : 500px) {
    .title-h2 {
        font-size: 24px;
    }
}