.hint-banner__item-left {
    display: flex;
    flex-direction: row;
    flex-basis: 45%;
    justify-content: center;
}

.hint-banner__item-right {
    display: flex;
    flex-direction: row;
    flex-basis: 55%;
    justify-content: center;
}

@media all and (max-width : 655px) {
    .hint-banner__item {
        flex-basis: 100%;
    }
}

@media all and (max-width : 455px) {
    .hint-banner__item {
        flex-flow: row wrap;
    }
}
