.hint-banner__item {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
}

@media all and (max-width : 655px) {
    .hint-banner__item {
        flex-basis: 100%;
    }
}

@media all and (max-width : 455px) {
    .hint-banner__item {
        flex-flow: row wrap;
    }
}
